input{
	file{
		path => "/home/k3l/Bureau/LILI.AI/NLP/PREPROCESSING/ELASTIC_SEARCH/PHASE_I/logstach_indexing/ipma.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter{
	csv{
		separator => "^"

		columns => ["skill","content"]
	}
}
output{
	elasticsearch{
		hosts => ["localhost:9200"] 
		index => "ipma_logstash"
		document_type => "skill"
	}
	stdout {}
}
