input{
	file{
		path => "./NLP/PREPROCESSING/DATA_MANAGER/Elasticsearch/study/index/logstash/ipma.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter{
	csv{
		separator => "^"

		columns => ["skill","content"]
	}
}
output{
	elasticsearch{
		hosts => ["localhost:9200"] 
		index => "ipma_logstash"
		document_type => "skill"
	}
	stdout {}
}
